<div class="list-novel">
    <div class="mt-4">
        <form action="post">
        <div class="row">
            {{#each list}}
            <div class="card" style="width: 10rem;">
            <img src={{this.Poster}} class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">{{this.ID}}</p>
                <a href="/{{this.url_route}}/{{this.Name}}" class="btn btn-primary">Read</a>
                
            </div>
            </div>
            {{/each}}
        
        </div>
        </form>
    </div>
</div>

<div class="list-theme">
     <div class="card" style="width: 100%; background-color:rgb(179, 166, 166);">
        <div class="card-body">
            <h5 class="card-title">Theme</h5>
        </div>
        <ul class="list-group">
            <li class="list-item" style="background-color: rgb(179, 166, 166);"><a href="/romance">Romance</a></li>
            <li class="list-item" style="background-color: rgb(179, 166, 166);"><a href="/adventure">Adventure</a></li>
            <li class="list-item" style="background-color: rgb(179, 166, 166);"><a href="/thriller">Thriller</a></li>
            <li class="list-item" style="background-color: rgb(179, 166, 166);"><a href="/fantasy">Fantasy</a></li>
            <li class="white-space"></li>
        </ul>
    </div>
</div>