{{!-- <div class="carousel-novel">
    <ul class="carousel-0">
        <li class="carousel-1">
            <ul class="carousel-list">
                <li class="rounded mx-auto d-block"><a href=""><img src="https://allnovel.net/images/always-and-forever-lara-jean-to-all-the-boys-i-ve-loved-before-3.jpg" alt=""></a></li>
            <li class="rounded mx-auto d-block"><a href=""><img src="https://allnovel.net/images/always-and-forever-lara-jean-to-all-the-boys-i-ve-loved-before-3.jpg" alt=""></a></li>
            <li class="rounded mx-auto d-block"><a href=""><img src="https://allnovel.net/images/always-and-forever-lara-jean-to-all-the-boys-i-ve-loved-before-3.jpg" alt=""></a></li>
            <li class="rounded mx-auto d-block"><a href=""><img src="https://allnovel.net/images/always-and-forever-lara-jean-to-all-the-boys-i-ve-loved-before-3.jpg" alt=""></a></li>
            <li class="rounded mx-auto d-block"><a href=""><img src="https://allnovel.net/images/always-and-forever-lara-jean-to-all-the-boys-i-ve-loved-before-3.jpg" alt=""></a></li>

            </ul>
        </li>
        <li class="carousel-1"></li>
        <li class="carousel-1"></li>
    </ul>
</div> --}}



{{!-- <img src="https://allnovel.net/images/always-and-forever-lara-jean-to-all-the-boys-i-ve-loved-before-3.jpg" class="rounded mx-auto d-block" alt="..." style="display: block; height:300px;"> --}}

<div class="list-novel">
    <div class="mt-4">
        <form action="post">
        <div class="row">
            {{#each list}}
            <div class="card" style="width: 10rem;">
            <img src={{this.Poster}} class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">{{this.ID}}</p>
                <a href="/{{this.Name}}" class="btn btn-primary">Read</a>
                
            </div>
            </div>
            {{/each}}
        
        </div>
        </form>
    </div>
</div>

<div class="list-theme" >
    
    <div class="card" style="width: 100%; background-color:rgb(179, 166, 166);">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
        </div>
        <ul class="list-group">
            <li class="list-item" style="background-color: rgb(179, 166, 166);"><a href="/romance">Romance</a></li>
            <li class="list-item" style="background-color: rgb(179, 166, 166);"><a href="/adventure">Adventure</a></li>
            <li class="list-item" style="background-color: rgb(179, 166, 166);"><a href="/thriller">Thriller</a></li>
            <li class="list-item" style="background-color: rgb(179, 166, 166);"><a href="/fantasy">Fantasy</a></li>
            <li class="white-space"></li>
        </ul>
    </div>
</div>